$track-background: rgba(#000, 0.8);
$track-border: rebeccapurple;
$track-button: rgba(#fff, 0.9);
$track-button-border: #000;

.controls {
  box-sizing: border-box;
  position: absolute;
  top: 0; left: 0;
  width: auto; min-height: 100vh;
  background: rgba(rebeccapurple, 0.5);
  mix-blend-mode: screen;
  padding: 50px 20px 20px 110px;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
  will-change: transform;

  .controls-toggle {
    position: absolute;
    box-sizing: border-box;
    top: 0; right: 0;
    padding: 30px 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    transform: translateX(100%);
    transition: transform .2s ease-out;
    will-change: transform;
  }

  .x {
    position: absolute;
    top: 0; left: 0;


    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 50px; height: 5px;
      background: #222;
    }
  }

  &.open {
    transform: translateX(0);
    .controls-toggle { transform: translateX(0); }
  }

}

.control-group {
  position: relative;
  
  button {
    background: rgba(#000, 0.1);
    border: 2px solid $track-border;
    color: $track-button;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .2s ease-out;

    &:hover, &:focus {
      background: rebeccapurple;
    }
  }
}

.slider {
  @include style-slider(
    $track-background,
    $track-border,
    $track-button,
    $track-button-border
  );
}

.slider-value {
  position: absolute;
  top: 0;
  right: 0;
}
